.card {
    width: 100px;
    height: 225px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-wrap {
    transform-origin: 50% 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    transform-style: preserve-3d;
}

.card img {
    width: 100%;
    height: 100%;
}

.card.back .card-wrap {
    transform: rotateY(180deg);
}

/* .card:hover .card-wrap {
    transform: rotateY(180deg);
} */

.piece {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.piece.card-front {
    transform: rotateY(0deg);
    background-color: lightgreen;
    z-index: 2;
}

.piece.card-back {
    transform: rotateY(180deg);
    background-color: lightsalmon;
    z-index: 1;
}